In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [5]:
dataset = pd.read_csv('WorldCupMatches.csv')
dataset

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA
5,1930.0,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3.0,0.0,Mexico,,9249.0,1.0,0.0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201.0,1095.0,CHI,MEX
6,1930.0,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4.0,0.0,Bolivia,,18306.0,0.0,0.0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201.0,1092.0,YUG,BOL
7,1930.0,17 Jul 1930 - 14:45,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Paraguay,,18306.0,2.0,0.0,MACIAS Jose (ARG),APHESTEGUY Martin (URU),TEJADA Anibal (URU),201.0,1097.0,USA,PAR
8,1930.0,18 Jul 1930 - 14:30,Group 3,Estadio Centenario,Montevideo,Uruguay,1.0,0.0,Peru,,57735.0,0.0,0.0,LANGENUS Jean (BEL),BALWAY Thomas (FRA),CRISTOPHE Henry (BEL),201.0,1099.0,URU,PER
9,1930.0,19 Jul 1930 - 12:50,Group 1,Estadio Centenario,Montevideo,Chile,1.0,0.0,France,,2000.0,0.0,0.0,TEJADA Anibal (URU),LOMBARDI Domingo (URU),REGO Gilberto (BRA),201.0,1094.0,CHI,FRA
10,1930.0,19 Jul 1930 - 15:00,Group 1,Estadio Centenario,Montevideo,Argentina,6.0,3.0,Mexico,,42100.0,3.0,1.0,SAUCEDO Ulises (BOL),ALONSO Gualberto (URU),RADULESCU Constantin (ROU),201.0,1086.0,ARG,MEX
11,1930.0,20 Jul 1930 - 13:00,Group 2,Estadio Centenario,Montevideo,Brazil,4.0,0.0,Bolivia,,25466.0,1.0,0.0,BALWAY Thomas (FRA),MATEUCCI Francisco (URU),VALLEJO Gaspar (MEX),201.0,1091.0,BRA,BOL
12,1930.0,20 Jul 1930 - 15:00,Group 4,Estadio Centenario,Montevideo,Paraguay,1.0,0.0,Belgium,,12000.0,1.0,0.0,VALLARINO Ricardo (URU),MACIAS Jose (ARG),LOMBARDI Domingo (URU),201.0,1089.0,PAR,BEL
13,1930.0,21 Jul 1930 - 14:50,Group 3,Estadio Centenario,Montevideo,Uruguay,4.0,0.0,Romania,,70022.0,4.0,0.0,REGO Gilberto (BRA),WARNKEN Alberto (CHI),SAUCEDO Ulises (BOL),201.0,1100.0,URU,ROU
14,1930.0,22 Jul 1930 - 14:45,Group 1,Estadio Centenario,Montevideo,Argentina,3.0,1.0,Chile,,41459.0,2.0,1.0,LANGENUS Jean (BEL),CRISTOPHE Henry (BEL),SAUCEDO Ulises (BOL),201.0,1084.0,ARG,CHI
15,1930.0,26 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Argentina,6.0,1.0,USA,,72886.0,1.0,0.0,LANGENUS Jean (BEL),VALLEJO Gaspar (MEX),WARNKEN Alberto (CHI),202.0,1088.0,ARG,USA
16,1930.0,27 Jul 1930 - 14:45,Semi-finals,Estadio Centenario,Montevideo,Uruguay,6.0,1.0,Yugoslavia,,79867.0,3.0,1.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),BALWAY Thomas (FRA),202.0,1101.0,URU,YUG
17,1930.0,30 Jul 1930 - 14:15,Final,Estadio Centenario,Montevideo,Uruguay,4.0,2.0,Argentina,,68346.0,1.0,2.0,LANGENUS Jean (BEL),SAUCEDO Ulises (BOL),CRISTOPHE Henry (BEL),405.0,1087.0,URU,ARG
18,1934.0,27 May 1934 - 16:30,Preliminary round,Stadio Benito Mussolini,Turin,Austria,3.0,2.0,France,Austria win after extra time,16000.0,0.0,0.0,VAN MOORSEL Johannes (NED),CAIRONI Camillo (ITA),BAERT Louis (BEL),204.0,1104.0,AUT,FRA
19,1934.0,27 May 1934 - 16:30,Preliminary round,Giorgio Ascarelli,Naples,Hungary,4.0,2.0,Egypt,,9000.0,2.0,2.0,BARLASSINA Rinaldo (ITA),DATTILO Generoso (ITA),SASSI Otello (ITA),204.0,1119.0,HUN,EGY
20,1934.0,27 May 1934 - 16:30,Preliminary round,San Siro,Milan,Switzerland,3.0,2.0,Netherlands,,33000.0,2.0,1.0,EKLIND Ivan (SWE),BERANEK Alois (AUT),BONIVENTO Ferruccio (ITA),204.0,1133.0,SUI,NED
21,1934.0,27 May 1934 - 16:30,Preliminary round,Littorale,Bologna,Sweden,3.0,2.0,Argentina,,14000.0,1.0,1.0,BRAUN Eugen (AUT),CARRARO Albino (ITA),TURBIANI Giuseppe (ITA),204.0,1102.0,SWE,ARG
22,1934.0,27 May 1934 - 16:30,Preliminary round,Giovanni Berta,Florence,Germany,5.0,2.0,Belgium,,8000.0,1.0,2.0,MATTEA Francesco (ITA),MELANDRI Ermenegildo (ITA),BAERT Jacques (FRA),204.0,1108.0,GER,BEL
23,1934.0,27 May 1934 - 16:30,Preliminary round,Luigi Ferraris,Genoa,Spain,3.0,1.0,Brazil,,21000.0,3.0,0.0,BIRLEM Alfred (GER),CARMINATI Ettore (ITA),IVANCSICS Mihaly (HUN),204.0,1111.0,ESP,BRA
24,1934.0,27 May 1934 - 16:30,Preliminary round,Nazionale PNF,Rome,Italy,7.0,1.0,USA,,25000.0,3.0,0.0,MERCET Rene (SUI),ESCARTIN Pedro (ESP),ZENISEK Bohumil (TCH),204.0,1135.0,ITA,USA
25,1934.0,27 May 1934 - 16:30,Preliminary round,Littorio,Trieste,Czechoslovakia,2.0,1.0,Romania,,9000.0,0.0,1.0,LANGENUS Jean (BEL),SCARPI Giuseppe (ITA),SCORZONI Raffaele (ITA),204.0,1141.0,TCH,ROU
26,1934.0,31 May 1934 - 16:30,Quarter-finals,Stadio Benito Mussolini,Turin,Czechoslovakia,3.0,2.0,Switzerland,,12000.0,1.0,1.0,BERANEK Alois (AUT),MOHAMED Youssuf (EGY),BAERT Jacques (FRA),418.0,1143.0,TCH,SUI
27,1934.0,31 May 1934 - 16:30,Quarter-finals,San Siro,Milan,Germany,2.0,1.0,Sweden,,3000.0,0.0,0.0,BARLASSINA Rinaldo (ITA),MERCET Rene (SUI),VAN MOORSEL Johannes (NED),418.0,1129.0,GER,SWE
28,1934.0,31 May 1934 - 16:30,Quarter-finals,Giovanni Berta,Florence,Italy,1.0,1.0,Spain,,35000.0,0.0,0.0,BAERT Louis (BEL),ZENISEK Bohumil (TCH),IVANCSICS Mihaly (HUN),418.0,1122.0,ITA,ESP
29,1934.0,31 May 1934 - 16:30,Quarter-finals,Littorale,Bologna,Austria,2.0,1.0,Hungary,,23000.0,1.0,0.0,MATTEA Francesco (ITA),ESCARTIN Pedro (ESP),BIRLEM Alfred (GER),418.0,1106.0,AUT,HUN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4544,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4556,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4557,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4561,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4562,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4563,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4565,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4569,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
dataset.shape

(4572, 20)

In [7]:
dataset.index

RangeIndex(start=0, stop=4572, step=1)

In [8]:
#first 5 lines
dataset.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930.0,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4.0,1.0,Mexico,,4444.0,3.0,0.0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201.0,1096.0,FRA,MEX
1,1930.0,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3.0,0.0,Belgium,,18346.0,2.0,0.0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201.0,1090.0,USA,BEL
2,1930.0,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2.0,1.0,Brazil,,24059.0,2.0,0.0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201.0,1093.0,YUG,BRA
3,1930.0,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3.0,1.0,Peru,,2549.0,1.0,0.0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201.0,1098.0,ROU,PER
4,1930.0,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1.0,0.0,France,,23409.0,0.0,0.0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201.0,1085.0,ARG,FRA

In [9]:
dataset.columns

Index(['Year', 'Datetime', 'Stage', 'Stadium', 'City', 'Home Team Name',
       'Home Team Goals', 'Away Team Goals', 'Away Team Name',
       'Win conditions', 'Attendance', 'Half-time Home Goals',
       'Half-time Away Goals', 'Referee', 'Assistant 1', 'Assistant 2',
       'RoundID', 'MatchID', 'Home Team Initials', 'Away Team Initials'],
      dtype='object')

In [50]:
dataset.info

<bound method DataFrame.info of        Year              Datetime                     Stage  \
0    1930.0  13 Jul 1930 - 15:00                    Group 1
1    1930.0  13 Jul 1930 - 15:00                    Group 4
2    1930.0  14 Jul 1930 - 12:45                    Group 2
3    1930.0  14 Jul 1930 - 14:50                    Group 3
4    1930.0  15 Jul 1930 - 16:00                    Group 1
5    1930.0  16 Jul 1930 - 14:45                    Group 1
6    1930.0  17 Jul 1930 - 12:45                    Group 2
7    1930.0  17 Jul 1930 - 14:45                    Group 4
8    1930.0  18 Jul 1930 - 14:30                    Group 3
9    1930.0  19 Jul 1930 - 12:50                    Group 1
10   1930.0  19 Jul 1930 - 15:00                    Group 1
11   1930.0  20 Jul 1930 - 13:00                    Group 2
12   1930.0  20 Jul 1930 - 15:00                    Group 4
13   1930.0  21 Jul 1930 - 14:50                    Group 3
14   1930.0  22 Jul 1930 - 14:45                    Group 1
15   1930.0  26 Jul 1930 - 14:45                Semi-finals
16   1930.0  27 Jul 1930 - 14:45                Semi-finals
17   1930.0  30 Jul 1930 - 14:15                      Final
18   1934.0  27 May 1934 - 16:30          Preliminary round
19   1934.0  27 May 1934 - 16:30          Preliminary round
20   1934.0  27 May 1934 - 16:30          Preliminary round
21   1934.0  27 May 1934 - 16:30          Preliminary round
22   1934.0  27 May 1934 - 16:30          Preliminary round
23   1934.0  27 May 1934 - 16:30          Preliminary round
24   1934.0  27 May 1934 - 16:30          Preliminary round
25   1934.0  27 May 1934 - 16:30          Preliminary round
26   1934.0  31 May 1934 - 16:30             Quarter-finals
27   1934.0  31 May 1934 - 16:30             Quarter-finals
28   1934.0  31 May 1934 - 16:30             Quarter-finals
29   1934.0  31 May 1934 - 16:30             Quarter-finals
..      ...                   ...                       ...
820  2014.0  28 Jun 2014 - 13:00                Round of 16
821  2014.0  28 Jun 2014 - 17:00                Round of 16
822  2014.0  30 Jun 2014 - 13:00                Round of 16
824  2014.0  04 Jul 2014 - 17:00             Quarter-finals
825  2014.0  04 Jul 2014 - 13:00             Quarter-finals
826  2014.0  08 Jul 2014 - 17:00                Semi-finals
827  2014.0  12 Jul 2014 - 17:00   Play-off for third place
828  2014.0  13 Jul 2014 - 16:00                      Final
829  2014.0  09 Jul 2014 - 17:00                Semi-finals
830  2014.0  05 Jul 2014 - 17:00             Quarter-finals
831  2014.0  05 Jul 2014 - 13:00             Quarter-finals
832  2014.0  29 Jun 2014 - 13:00                Round of 16
833  2014.0  29 Jun 2014 - 17:00                Round of 16
834  2014.0  01 Jul 2014 - 13:00                Round of 16
835  2014.0  01 Jul 2014 - 17:00                Round of 16
836  2014.0  28 Jun 2014 - 13:00                Round of 16
837  2014.0  28 Jun 2014 - 17:00                Round of 16
838  2014.0  29 Jun 2014 - 13:00                Round of 16
839  2014.0  29 Jun 2014 - 17:00                Round of 16
840  2014.0  30 Jun 2014 - 13:00                Round of 16
842  2014.0  01 Jul 2014 - 13:00                Round of 16
843  2014.0  01 Jul 2014 - 17:00                Round of 16
844  2014.0  04 Jul 2014 - 13:00             Quarter-finals
845  2014.0  04 Jul 2014 - 17:00             Quarter-finals
846  2014.0  05 Jul 2014 - 13:00             Quarter-finals
847  2014.0  05 Jul 2014 - 17:00             Quarter-finals
848  2014.0  08 Jul 2014 - 17:00                Semi-finals
849  2014.0  09 Jul 2014 - 17:00                Semi-finals
850  2014.0  12 Jul 2014 - 17:00   Play-off for third place
851  2014.0  13 Jul 2014 - 16:00                      Final

                     Stadium             City  Home Team Name  \
0                    Pocitos      Montevideo           France
1             Parque Central      Montevideo              USA
2             Parque Central      Montevideo       Yugoslavia
3                    Pocitos      Montevideo          Romania
4             Parque Central      Montevideo        Argentina
5             Parque Central      Montevideo            Chile
6             Parque Central      Montevideo       Yugoslavia
7             Parque Central      Montevideo              USA
8         Estadio Centenario      Montevideo          Uruguay
9         Estadio Centenario      Montevideo            Chile
10        Estadio Centenario      Montevideo        Argentina
11        Estadio Centenario      Montevideo           Brazil
12        Estadio Centenario      Montevideo         Paraguay
13        Estadio Centenario      Montevideo          Uruguay
14        Estadio Centenario      Montevideo        Argentina
15        Estadio Centenario      Montevideo        Argentina
16        Estadio Centenario      Montevideo          Uruguay
17        Estadio Centenario      Montevideo          Uruguay
18   Stadio Benito Mussolini           Turin          Austria
19         Giorgio Ascarelli          Naples          Hungary
20                  San Siro           Milan      Switzerland
21                 Littorale         Bologna           Sweden
22            Giovanni Berta        Florence          Germany
23            Luigi Ferraris           Genoa            Spain
24             Nazionale PNF            Rome            Italy
25                  Littorio         Trieste   Czechoslovakia
26   Stadio Benito Mussolini           Turin   Czechoslovakia
27                  San Siro           Milan          Germany
28            Giovanni Berta        Florence            Italy
29                 Littorale         Bologna          Austria
..                       ...              ...             ...
820         Estadio Mineirao  Belo Horizonte           Brazil
821      Estadio do Maracana  Rio De Janeiro         Colombia
822         Estadio Nacional        Brasilia           France
824         Estadio Castelao       Fortaleza           Brazil
825      Estadio do Maracana  Rio De Janeiro           France
826         Estadio Mineirao  Belo Horizonte           Brazil
827         Estadio Nacional        Brasilia           Brazil
828      Estadio do Maracana  Rio De Janeiro          Germany
829       Arena de Sao Paulo       Sao Paulo      Netherlands
830         Arena Fonte Nova        Salvador      Netherlands
831         Estadio Nacional        Brasilia        Argentina
832         Estadio Castelao       Fortaleza      Netherlands
833         Arena Pernambuco          Recife       Costa Rica
834       Arena de Sao Paulo       Sao Paulo        Argentina
835         Arena Fonte Nova        Salvador          Belgium
836         Estadio Mineirao  Belo Horizonte           Brazil
837      Estadio do Maracana  Rio De Janeiro         Colombia
838         Estadio Castelao       Fortaleza      Netherlands
839         Arena Pernambuco          Recife       Costa Rica
840         Estadio Nacional        Brasilia           France
842       Arena de Sao Paulo       Sao Paulo        Argentina
843         Arena Fonte Nova        Salvador          Belgium
844      Estadio do Maracana  Rio De Janeiro           France
845         Estadio Castelao       Fortaleza           Brazil
846         Estadio Nacional        Brasilia        Argentina
847         Arena Fonte Nova        Salvador      Netherlands
848         Estadio Mineirao  Belo Horizonte           Brazil
849       Arena de Sao Paulo       Sao Paulo      Netherlands
850         Estadio Nacional        Brasilia           Brazil
851      Estadio do Maracana  Rio De Janeiro          Germany

     Home Team Goals  Away Team Goals Away Team Name  \
0                4.0              1.0         Mexico
1                3.0              0.0        Belgium
2                2.0              1.0         Brazil
3                3.0              1.0           Peru
4                1.0              0.0         France
5                3.0              0.0         Mexico
6                4.0              0.0        Bolivia
7                3.0              0.0       Paraguay
8                1.0              0.0           Peru
9                1.0              0.0         France
10               6.0              3.0         Mexico
11               4.0              0.0        Bolivia
12               1.0              0.0        Belgium
13               4.0              0.0        Romania
14               3.0              1.0          Chile
15               6.0              1.0            USA
16               6.0              1.0     Yugoslavia
17               4.0              2.0      Argentina
18               3.0              2.0         France
19               4.0              2.0          Egypt
20               3.0              2.0    Netherlands
21               3.0              2.0      Argentina
22               5.0              2.0        Belgium
23               3.0              1.0         Brazil
24               7.0              1.0            USA
25               2.0              1.0        Romania
26               3.0              2.0    Switzerland
27               2.0              1.0         Sweden
28               1.0              1.0          Spain
29               2.0              1.0        Hungary
..               ...              ...            ...
820              1.0              1.0          Chile
821              2.0              0.0        Uruguay
822              2.0              0.0        Nigeria
824              2.0              1.0       Colombia
825              0.0              1.0        Germany
826              1.0              7.0        Germany
827              0.0              3.0    Netherlands
828              1.0              0.0      Argentina
829              0.0              0.0      Argentina
830              0.0              0.0     Costa Rica
831              1.0              0.0        Belgium
832              2.0              1.0         Mexico
833              1.0              1.0         Greece
834              1.0              0.0    Switzerland
835              2.0              1.0            USA
836              1.0              1.0          Chile
837              2.0              0.0        Uruguay
838              2.0              1.0         Mexico
839              1.0              1.0         Greece
840              2.0              0.0        Nigeria
842              1.0              0.0    Switzerland
843              2.0              1.0            USA
844              0.0              1.0        Germany
845              2.0              1.0       Colombia
846              1.0              0.0        Belgium
847              0.0              0.0     Costa Rica
848              1.0              7.0        Germany
849              0.0              0.0      Argentina
850              0.0              3.0    Netherlands
851              1.0              0.0      Argentina

                            Win conditions  Attendance  Half-time Home Goals  \
0                                               4444.0                   3.0
1                                              18346.0                   2.0
2                                              24059.0                   2.0
3                                               2549.0                   1.0
4                                              23409.0                   0.0
5                                               9249.0                   1.0
6                                              18306.0                   0.0
7                                              18306.0                   2.0
8                                              57735.0                   0.0
9                                               2000.0                   0.0
10                                             42100.0                   3.0
11                                             25466.0                   1.0
12                                             12000.0                   1.0
13                                             70022.0                   4.0
14                                             41459.0                   2.0
15                                             72886.0                   1.0
16                                             79867.0                   3.0
17                                             68346.0                   1.0
18           Austria win after extra time      16000.0                   0.0
19                                              9000.0                   2.0
20                                             33000.0                   2.0
21                                             14000.0                   1.0
22                                              8000.0                   1.0
23                                             21000.0                   3.0
24                                             25000.0                   3.0
25                                              9000.0                   0.0
26                                             12000.0                   1.0
27                                              3000.0                   0.0
28                                             35000.0                   0.0
29                                             23000.0                   1.0
..                                     ...         ...                   ...
820       Brazil win on penalties (3 - 2)      57714.0                   0.0
821                                            73804.0                   1.0
822                                            67882.0                   0.0
824                                            60342.0                   1.0
825                                            74240.0                   0.0
826                                            58141.0                   0.0
827                                            68034.0                   0.0
828          Germany win after extra time      74738.0                   0.0
829    Argentina win on penalties (2 - 4)      63267.0                   0.0
830  Netherlands win on penalties (4 - 3)      51179.0                   0.0
831                                            68551.0                   1.0
832                                            58817.0                   0.0
833   Costa Rica win on penalties (5 - 3)      41242.0                   0.0
834        Argentina win after extra time      63255.0                   0.0
835          Belgium win after extra time      51227.0                   0.0
836       Brazil win on penalties (3 - 2)      57714.0                   0.0
837                                            73804.0                   1.0
838                                            58817.0                   0.0
839   Costa Rica win on penalties (5 - 3)      41242.0                   0.0
840                                            67882.0                   0.0
842        Argentina win after extra time      63255.0                   0.0
843          Belgium win after extra time      51227.0                   0.0
844                                            74240.0                   0.0
845                                            60342.0                   1.0
846                                            68551.0                   1.0
847  Netherlands win on penalties (4 - 3)      51179.0                   0.0
848                                            58141.0                   0.0
849    Argentina win on penalties (2 - 4)      63267.0                   0.0
850                                            68034.0                   0.0
851          Germany win after extra time      74738.0                   0.0

     Half-time Away Goals                        Referee  \
0                     0.0         LOMBARDI Domingo (URU)
1                     0.0              MACIAS Jose (ARG)
2                     0.0            TEJADA Anibal (URU)
3                     0.0          WARNKEN Alberto (CHI)
4                     0.0            REGO Gilberto (BRA)
5                     0.0          CRISTOPHE Henry (BEL)
6                     0.0       MATEUCCI Francisco (URU)
7                     0.0              MACIAS Jose (ARG)
8                     0.0            LANGENUS Jean (BEL)
9                     0.0            TEJADA Anibal (URU)
10                    1.0           SAUCEDO Ulises (BOL)
11                    0.0            BALWAY Thomas (FRA)
12                    0.0        VALLARINO Ricardo (URU)
13                    0.0            REGO Gilberto (BRA)
14                    1.0            LANGENUS Jean (BEL)
15                    0.0            LANGENUS Jean (BEL)
16                    1.0            REGO Gilberto (BRA)
17                    2.0            LANGENUS Jean (BEL)
18                    0.0     VAN MOORSEL Johannes (NED)
19                    2.0       BARLASSINA Rinaldo (ITA)
20                    1.0              EKLIND Ivan (SWE)
21                    1.0              BRAUN Eugen (AUT)
22                    2.0         MATTEA Francesco (ITA)
23                    0.0            BIRLEM Alfred (GER)
24                    0.0              MERCET Rene (SUI)
25                    1.0            LANGENUS Jean (BEL)
26                    1.0            BERANEK Alois (AUT)
27                    0.0       BARLASSINA Rinaldo (ITA)
28                    0.0              BAERT Louis (BEL)
29                    0.0         MATTEA Francesco (ITA)
..                    ...                            ...
820                   0.0              WEBB Howard (ENG)
821                   0.0            Bj�rn KUIPERS (NED)
822                   0.0              GEIGER Mark (USA)
824                   0.0  Carlos VELASCO CARBALLO (ESP)
825                   1.0            PITANA Nestor (ARG)
826                   5.0          RODRIGUEZ Marco (MEX)
827                   2.0          HAIMOUDI Djamel (ALG)
828                   0.0           Nicola RIZZOLI (ITA)
829                   0.0             C�neyt �AKIR (TUR)
830                   0.0          Ravshan IRMATOV (UZB)
831                   0.0           Nicola RIZZOLI (ITA)
832                   0.0            PROENCA Pedro (POR)
833                   0.0             Ben WILLIAMS (AUS)
834                   0.0           ERIKSSON Jonas (SWE)
835                   0.0          HAIMOUDI Djamel (ALG)
836                   0.0              WEBB Howard (ENG)
837                   0.0            Bj�rn KUIPERS (NED)
838                   0.0            PROENCA Pedro (POR)
839                   0.0             Ben WILLIAMS (AUS)
840                   0.0              GEIGER Mark (USA)
842                   0.0           ERIKSSON Jonas (SWE)
843                   0.0          HAIMOUDI Djamel (ALG)
844                   1.0            PITANA Nestor (ARG)
845                   0.0  Carlos VELASCO CARBALLO (ESP)
846                   0.0           Nicola RIZZOLI (ITA)
847                   0.0          Ravshan IRMATOV (UZB)
848                   5.0          RODRIGUEZ Marco (MEX)
849                   0.0             C�neyt �AKIR (TUR)
850                   2.0          HAIMOUDI Djamel (ALG)
851                   0.0           Nicola RIZZOLI (ITA)

                        Assistant 1                 Assistant 2   RoundID  \
0             CRISTOPHE Henry (BEL)         REGO Gilberto (BRA)     201.0
1          MATEUCCI Francisco (URU)       WARNKEN Alberto (CHI)     201.0
2           VALLARINO Ricardo (URU)         BALWAY Thomas (FRA)     201.0
3               LANGENUS Jean (BEL)    MATEUCCI Francisco (URU)     201.0
4              SAUCEDO Ulises (BOL)  RADULESCU Constantin (ROU)     201.0
5           APHESTEGUY Martin (URU)         LANGENUS Jean (BEL)     201.0
6            LOMBARDI Domingo (URU)       WARNKEN Alberto (CHI)     201.0
7           APHESTEGUY Martin (URU)         TEJADA Anibal (URU)     201.0
8               BALWAY Thomas (FRA)       CRISTOPHE Henry (BEL)     201.0

In [51]:
#knowing null value set
dataset.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [52]:
'''
1st method:dropna:
1. deletes a row if it has a null value for a particular feature
2. deletes a particular column if it has more than 75% missing values
'''
#advised only if enough samples in dataset exist
dataset.dropna(inplace =True)

In [53]:
dataset.isnull().sum()

Year                    0
Datetime                0
Stage                   0
Stadium                 0
City                    0
Home Team Name          0
Home Team Goals         0
Away Team Goals         0
Away Team Name          0
Win conditions          0
Attendance              0
Half-time Home Goals    0
Half-time Away Goals    0
Referee                 0
Assistant 1             0
Assistant 2             0
RoundID                 0
MatchID                 0
Home Team Initials      0
Away Team Initials      0
dtype: int64

In [54]:
dataset.shape

(850, 20)

In [55]:
'''
method 2 of removing NaN:
replace it with mean, median or mode
'''
dataset['Year'].mean()

1985.0211764705882

In [56]:
#viewing last 5 items
dataset['Year'].tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

In [57]:
#replacing
dataset['Year'].replace(np.NaN,dataset['Year'].mean()).tail()

847    2014.0
848    2014.0
849    2014.0
850    2014.0
851    2014.0
Name: Year, dtype: float64

In [173]:
#as ML uses mathematical equations, set the catagorical values also
datanew = pd.read_csv('Data.csv')
datanew

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [174]:
#so we have to change yes and no to 0 & 1
datanew.Purchased.replace(('Yes','No'), (1, 0), inplace=True)
datanew

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
4  Germany  40.0      NaN          1
5   France  35.0  58000.0          1
6    Spain   NaN  52000.0          0
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [175]:
X = datanew.iloc[:, :-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [176]:
datanew.dropna(inplace=True)

In [177]:
datanew.isnull().sum()

Country      0
Age          0
Salary       0
Purchased    0
dtype: int64

In [178]:

datanew

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [179]:
X[:,0]

array(['France', 'Spain', 'Germany', 'Spain', 'Germany', 'France',
       'Spain', 'France', 'Germany', 'France'], dtype=object)

In [180]:
'''
working on catagorical values
so we encode the catagorial variables
catagorical to numerical data we use LabelEncoder() class
from pre processing lib
'''
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [181]:
#removing any NaN values
X = datanew.iloc[:,:-1].values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [182]:
#converting to catagorical
X[:,0] = label_encoder.fit_transform(X[:,0])
X=np.array(X,dtype='int32')

In [183]:
#0,1,2 are catagorical values of resp. countries
X

array([[    0,    44, 72000],
       [    2,    27, 48000],
       [    1,    30, 54000],
       [    2,    38, 61000],
       [    0,    35, 58000],
       [    0,    48, 79000],
       [    1,    50, 83000],
       [    0,    37, 67000]])

In [184]:
#another method
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder(categorical_features=[0])

In [185]:
x = onehotencoder.fit_transform(X)
print(x)

  (0, 0)	1.0
  (1, 2)	1.0
  (2, 1)	1.0
  (3, 2)	1.0
  (4, 0)	1.0
  (5, 0)	1.0
  (6, 1)	1.0
  (7, 0)	1.0
  (0, 3)	44.0
  (0, 4)	72000.0
  (1, 3)	27.0
  (1, 4)	48000.0
  (2, 3)	30.0
  (2, 4)	54000.0
  (3, 3)	38.0
  (3, 4)	61000.0
  (4, 3)	35.0
  (4, 4)	58000.0
  (5, 3)	48.0
  (5, 4)	79000.0
  (6, 3)	50.0
  (6, 4)	83000.0
  (7, 3)	37.0
  (7, 4)	67000.0

In [186]:
datanew

   Country   Age   Salary  Purchased
0   France  44.0  72000.0          0
1    Spain  27.0  48000.0          1
2  Germany  30.0  54000.0          0
3    Spain  38.0  61000.0          0
5   France  35.0  58000.0          1
7   France  48.0  79000.0          1
8  Germany  50.0  83000.0          0
9   France  37.0  67000.0          1

In [187]:
dummy = pd.get_dummies(datanew['Country'])
dummy

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
5       1        0      0
7       1        0      0
8       0        1      0
9       1        0      0

In [188]:
datanew = pd.concat([datanew,dummy],axis=1)
datanew

   Country   Age   Salary  Purchased  France  Germany  Spain
0   France  44.0  72000.0          0       1        0      0
1    Spain  27.0  48000.0          1       0        0      1
2  Germany  30.0  54000.0          0       0        1      0
3    Spain  38.0  61000.0          0       0        0      1
5   France  35.0  58000.0          1       1        0      0
7   France  48.0  79000.0          1       1        0      0
8  Germany  50.0  83000.0          0       0        1      0
9   France  37.0  67000.0          1       1        0      0

In [190]:
datanew = datanew.drop(['Country'],axis = 1)
datanew

    Age   Salary  Purchased  France  Germany  Spain
0  44.0  72000.0          0       1        0      0
1  27.0  48000.0          1       0        0      1
2  30.0  54000.0          0       0        1      0
3  38.0  61000.0          0       0        0      1
5  35.0  58000.0          1       1        0      0
7  48.0  79000.0          1       1        0      0
8  50.0  83000.0          0       0        1      0
9  37.0  67000.0          1       1        0      0

In [208]:
datanew.dropna(inplace = True)
y = datanew.iloc[:,2].values
y

array([0, 1, 0, 0, 1, 1, 0, 1], dtype=int64)

In [226]:
 #from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)
X_train

array([[    2,    38, 61000],
       [    0,    37, 67000],
       [    1,    50, 83000],
       [    2,    27, 48000],
       [    0,    35, 58000],
       [    0,    44, 72000]])

In [227]:
 X_test

array([[    0,    48, 79000],
       [    1,    30, 54000]])

In [228]:
y_train

array([0, 1, 0, 1, 1, 0], dtype=int64)